<div class="jumbotron">
  <h1 class="display-5">Welcome to Learn Story</h1>
  <p class="lead">Reimargin the way you feel about books</p>
  <hr class="my-4">
  <p>Is just simple start a new story below</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/ideas/add" role="button">Start Story</a>
  </p>
</div>